extends layout.pug

append head
   link(rel='stylesheet' href='/stylesheets/bookshelves.css')
   link(rel="preconnect", href="https://fonts.gstatic.com")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
   script(src='/javascripts/bookshelves.js' type='module')
//- Need to change user id
block content
  div(id="my-books-div")
    div(id="bookshelves-div")
      span(id="my-books-text") My Books  
      div(id='bookshelves') Bookshelves
        ul(id='ul-bookshelves') 
          li(class="bookshelf-li"): a(href=`/bookshelves/1`) Currently Reading 
          li(class="bookshelf-li"): a(href=`/bookshelves/2`) Want to Read 
          li(class="bookshelf-li"): a(href=`/bookshelves/3`) Read 
          each bookshelf in bookshelves 
            li(class="bookshelf-li"): a(href=`/bookshelves/${bookshelf.id}`) #{bookshelf.name}
        span Add Shelf 
        form(method='post' id='add-shelf')
          input(type="text" name='listname')
          button(type='submit' id='add-shelf-button') Add
      div(id='reading-activity') Reading Activity
      a(id='add-books' href='/bookshelves/add-book') Add Book
      div(id='tools') Tools
        ul 
    if books
      div(id='main-table')
        table(class='book_table')
          thead(class='book_thead')
            tr
              th(scope='col') Cover
              th(scope='col') Title
              th(scope='col') Author
              th(scope='col') Avg Rating
              //- th(scope='col') R ating
              th(scope='col') Published
              //- th(scope='col') Shelves
              //- th(scope='col') Reviews
          tbody
           each book in books
            div(id="book-in-books")
            tr
             div
              td: img(height='120' width='80' src=`${book.cover}`)
              td: a(href=`/books/${book.id}`)= book.title
              td: a(href=`/books/${book.id}`)= book.author
              td: a(href=`/books/${book.id}`)= book.avgRating
              //- tr= book.Review.rating
              td= book.published
              //- tr= book.Bookshelves
              //-  check for line 30 and determine how to use it properly.
              //- tr= book.Review
              //- check for line 32 and determine how to use it properly.
              
    else 
      div(id="no-books-div") You don't have any books in this shelf!