extends layout.pug

append head
   link(rel='stylesheet' href='/stylesheets/bookshelves.css')
   link(rel="preconnect", href="https://fonts.gstatic.com")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
   script(src='/javascripts/bookshelves.js' type='module')

block content
  div(id="my-books-div")
    div(id="bookshelves-div")
      span(id="my-books-text") My Books 
      div(id='bookshelves') Bookshelves
        ul(id='ul-bookshelves') 
           li(class='li-bookshelf') Currently Read 
           li(class='li-bookshelf') Want to Read 
           li(class='li-bookshelf') Read
            //- each bookshelf in bookshelves 
            //- li= bookshelf
        form(id="add-shelf" method='post') Add a Shelf
          input(type="text" name='listname')
          button(type='submit' id='add-shelf-button') Add
      div(id='reading-activity') Reading Activity
      a(id='add-books' href='bookshelves/add-book') Add Books
      div(id='tools') Tools
        ul 
          li: a(href='delete') Delete Bookshelf
    if books
      div(id='main-table')
        table(class='book_table')
          thead(class='book_thead')
            tr
              th(scope='col') Cover
              th(scope='col') Title
              th(scope='col') Author
              th(scope='col') Avg Rating
              //- th(scope='col') R ating
              th(scope='col') Published
              //- th(scope='col') Shelves
              //- th(scope='col') Reviews
              th(scope='col') Date Read
              th(scope='col') Date Added
          tbody
           each book in books
            div(id="book-in-books")
            tr
             div
              td= book.cover
              td= book.title
              td= book.author
              td= book.avgRating
              //- tr= book.Review.rating
              td= book.published
              //- tr= book.Bookshelves
              //-  check for line 30 and determine how to use it properly.
              //- tr= book.Review
              //- check for line 32 and determine how to use it properly.
              td= book.updatedAt
              //- check for line 35 and determine how to use it properly.
              td= book.createdAt
    else 
      div You don't have any bookshelves! Click here to add one.