extends layout.pug

include utils.pug

append head
   link(rel='stylesheet' href='/stylesheets/book.css')
   link(rel="preconnect", href="https://fonts.gstatic.com")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
   script(src='/javascripts/book.js' type='module')

block content
    div(class="hidden" id="modal")
        div(class="form-container modal-content")
            h1(class="form-header") Edit Book
            form(action=`/books/${book.id}` method="post" class="user-form")
                +field("Cover", "cover", book.cover)
                +field("Title", "title", book.title)
                +field("Author", "author", book.author)
                +field("Published", "published", book.published)
                +field("Description", "description", book.description, textarea, "Description")
                div(class='submit-div')
                    button(type='submit' class='btn submit edit-book-btn') Submit
                    a(href=`/books/${book.id}` class='a clear') Clear
    div(class="page-content")
        div(class="book-content")
            div(class="book-container")
                div(class="book-cover")
                    img(src=book.cover alt="No image" width="300px")
                    form
                        select(class="bookshelves-dropdown")
                            each bookshelf in bookshelves 
                                option(value=bookshelf.id)=bookshelf.name
                        button(class="btn add-book-bookshelf") Add to Bookshelf

                div(class="book-info")
                    span(class="book-title")=book.title
                    span(class="book-author")=book.author
                    span(class="book-published")=book.published
                    p(class="book-description")=book.description
                    div(class="book-button-container")
                        button(class="book-edit") Edit
                        button(class="book-delete") Delete
            div(class="reviews-container")
                h2(class="review-header") Reviews
                form(class="review-form")
                    div(class="rating")
                        select(id="book-rating")
                            option(value="null") Rate the book!
                            option(value="1") 🧠
                            option(value="2") 🧠🧠
                            option(value="3") 🧠🧠🧠
                            option(value="4") 🧠🧠🧠🧠
                            option(value="5") 🧠🧠🧠🧠🧠

                    textarea(class="new-review" placeholder="Write your review here...")
                    button(type="submit" class="review-button btn" id="submit-review") Submit
                div(class="existing-reviews")  
                    each review in reviews
                        div(class="review-container")
                            h4(class="review-author")
                                span(class="review-user-silhouette") 👤
                                =review.User.username
                                span(class="review-rating")
                                    if review.rating===1
                                        | 🧠
                                    if review.rating===2
                                        | 🧠🧠
                                    if review.rating===3
                                        | 🧠🧠🧠
                                    if review.rating===4
                                        | 🧠🧠🧠🧠
                                    if review.rating===5
                                        | 🧠🧠🧠🧠🧠

                            if review.userId===userId
                                button(class="review-edit-btn btn") Edit
                            p=review.review

        div(class="book-sidebar")
            div(class="sidebar-container")
<<<<<<< HEAD
                div(id="quote")
=======
                div(id="quote")
>>>>>>> 5c9f840829f631b8c7bcada40d47f881c61ee1c0
