extends layout.pug
include utils.pug

append head
   link(rel='stylesheet' href='/stylesheets/book.css')
   link(rel="preconnect", href="https://fonts.gstatic.com")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
   script(src='/javascripts/book.js')

block content
    div.background-image
        div(class="hidden" id="modal")
            div(class="form-container modal-content")
                h1(class="form-header") Edit Book
                form(action=`/books/${book.id}` method="post" class="user-form")
                    +field("Cover (Image URL)", "cover", book.cover)
                    +field("Title", "title", book.title)
                    +field("Author", "author", book.author)
                    +field("Published", "published", book.published)
                    +field("Description", "description", book.description, 'textarea', "Description")
                    div(class='submit-div')
                        button(type='submit' class='btn submit edit-book-btn') Submit
                        a(href=`/books/${book.id}` class='a clear') Clear
        div(class="hidden" id="readstatus-modal")
            div(class="form-container modal-content")
                h1(class="form-header ") Edit Read Status
                //- form(action=`/books/${book.id}/readstatus` method="post" class="readstatus-form")
                form(class="readstatus-form")
                    div(class='read-status-modal-content')
                        select( id="rstatus" name="rstatus" class='form-control user-input')
                            option(value="Read") Read
                            option(value="Currently Reading") Currently Reading
                            option(value="Want to Read") Want to Read
                        div(class='status-submit-div')
                            button(type='submit' class='btn submit edit-readstatus-btn') Submit
                            a(href=`/books/${book.id}` class='a clear') Clear
        div(class="hidden" id="review-modal")
            div(class="form-container modal-content")
                h1(class="form-header") Edit Review
                form(action=`/books/reviews/reviewId` method="post" class="user-form" id="edit-review-form")
                    label("Select a rating for the book")
                    select(id="edit-book-rating")
                        option(value="null") Rate the book!
                        option(value="1") 🧠
                        option(value="2") 🧠🧠
                        option(value="3") 🧠🧠🧠
                        option(value="4") 🧠🧠🧠🧠
                        option(value="5") 🧠🧠🧠🧠🧠
                    +field("Review", "review", "review")
                    div(class='submit-div')
                        button(type='submit' class='btn submit edit-review-btn') Submit
        div(class="page-content")
            //- div(class="header")
            //- div(class="book-content")
            div(class="book-cover")
                .book-img
                    img(src=book.cover alt="No image" width="300px" class="book-img")
                div(class="book-button-container")
                    button(class="book-edit") Edit
                    button(class="book-delete") Delete
            div(class="book-info")
                span(class="book-title")=book.title
                span(class="book-author")=book.author
                span(class="book-published")=book.published
                div(class="readstatus")= `Read Status: ${status}`
                    button(class="readstatus-edit") Edit Status
                p(class="book-description")=book.description
            div(class="new-review-container")
                div(class="new-review")
                    h2(class="review-header") Write a Review
                    form(class="review-form")
                        div(class="rating")
                            select(id="book-rating")
                                option(value="null") Rate the book!
                                option(value="1") 🧠
                                option(value="2") 🧠🧠
                                option(value="3") 🧠🧠🧠
                                option(value="4") 🧠🧠🧠🧠
                                option(value="5") 🧠🧠🧠🧠🧠

                        textarea(class="new-review-textarea" placeholder="Did you love the book? Hate it? Let us know....")
                        button(type="submit" class="review-button btn" id="submit-review") Submit
            div(class="existing-reviews")
                each review in reviews
                    hr(class="ine-between-reviews")
                    div(class="review-container")
                        h4(class="review-author")=review.User.username
                        span(class="review-rating")
                            if review.rating===1
                                | 🧠
                            if review.rating===2
                                | 🧠🧠
                            if review.rating===3
                                | 🧠🧠🧠
                            if review.rating===4
                                | 🧠🧠🧠🧠
                            if review.rating===5
                                | 🧠🧠🧠🧠🧠
                        div(class="review-timestamp")=date
                        p
                            if review.userId===userId
                                button(review-id=`${review.id}` class="review-delete-btn btn") Delete
                                button(review-id=`${review.id}` class="review-edit-btn btn") Edit
                            =review.review

            div(class="book-sidebar")
                form(class="addToBksf")
                    label(id="addToBookshelf-label") Bookshelf
                        div(id="addToBkshlf")
                            select(class="bookshelves-dropdown")
                                each bookshelf in bookshelves
                                    option(value=bookshelf.id)=bookshelf.name
                            button(class="btn add-book-bookshelf") Add

                div(class="tag-container")
                    label(id="tag-label") Tags
                    div(class="tags")
                        each tag in book.Tags
                            div(class="book-tag")
                                div(class="tag-cat")=tag.category
                                button(class="delete-tag" value=tag.id id=tag.category) ⓧ
                    form(class="add-tag-form")
                        input(class="tag-input")
                        button(class="tag-btn btn") Add
