extends layout.pug
include utils.pug

append head
   link(rel='stylesheet' href='/stylesheets/bookshelves.css')
   link(rel="preconnect", href="https://fonts.gstatic.com")
   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
   script(src='/javascripts/bookshelves.js' type='module')
   script(src='/javascripts/book.js' type='module')
block content
  .background-image
    .header
    .all-content
      div(id="my-books-div")
        div(id="bookshelves-div")
        span(id="my-books-text")
          div(id='bookshelves')
            label(id="bkslflabel") Bookshelves
            ul(id='ul-bookshelves')
              li(class="bookshelf-li"): a(href=`/bookshelves/${wantToRead.id}` class='bookshelf-links') Want to Read
              li(class="bookshelf-li"): a(href=`/bookshelves/${currentlyReading.id}` class='bookshelf-links') Currently Reading
              li(class="bookshelf-li"): a(href=`/bookshelves/${read.id}` class='bookshelf-links') Read 
              each bookshelf in bookshelves.slice(0, bookshelves.length - 3)
                li(class="bookshelf-li"): a(href=`/bookshelves/${bookshelf.id}` class='bookshelf-links') #{bookshelf.name}
                  a(bookshelf-id=`${bookshelf.id}` class="bookshelf-li delete-button" ) ⓧ 
            form(method='post'  id='add-shelf')
              input(type="text" class='add-bookshelf-placeholder' name='listname' placeholder='Add Bookshelf')
              button(type='submit' class='btn' id='add-shelf-button') Add
          //- div(id='add-books')
          //-   div(class="hidden" id="modal")
          //-     div(id='add-book-div' class="form-container modal-content")
          //-      h1(class="form-header") Add Book
          //-       form(action="/bookshelves/add-book" method='post' class="user-form")
          //-           +field('Cover (Image URL)', 'cover', book.cover)
          //-           +field('Title', 'title', book.title)
          //-           +field('Author', 'author', book.author)
          //-           +field('Published', 'published', book.published)
          //-           div(class='submit-div')
          //-             button(type='submit' class="user-form" class='btn submit') Add
          //-             a(href='/bookshelves/add-book' class='a clear') Clear
          //- a(class='add-book') Add Book
      if bookshelf.Books.length
        div(id='main-table')  #{bookshelf.name}
          table(class='book_table')
            thead(id='book_thead')
              tr
              span
                th(scope='col') Cover
                th(scope='col') Title
                th(scope='col') Author
                th(scope='col') Avg Rating
                th(scope='col') Published
            tbody
            each book in bookshelf.Books
              div(id="book-in-books")
              tr
              div
                td: a(href=`/books/${book.id}`): img(height='360' width='240' src=`${book.cover}`)
                td: a(href=`/books/${book.id}`)= book.title
                td: a(href=`/books/${book.id}`)= book.author
                td: a(href=`/books/${book.id}`)= book.avg_rating
                td= book.published
                td: a(book-id=`${book.id}` class='delete-from-bookshelf') ⓧ
                
      else 
        div(id="no-books-div") You don't have any books in this shelf!
