extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  h2 Sustenance for your soul
  div(id='genre-div')
    div(class='genre-list' )
      each book in books
       img(src=`${book.cover}` class="img-div" height='120' width='80') 
    div(class='genre-list' )
      each book in books
       img(src=`${book.cover}` class="img-div" height='120' width='80') 
    div(class='genre-list' )
      each book in books
       img(src=`${book.cover}` class="img-div" height='120' width='80') 
    div(class='genre-list' )
      each book in books
       img(src=`${book.cover}` class="img-div" height='120' width='80') 
    div(class='genre-list' )
      each book in books
       img(src=`${book.cover}` class="img-div" height='120' width='80') 
  //-   div(class='genre-list')
  //-   div(class='genre-list') 
  //-   div(class='genre-list') 
  //-   div(class='genre-list') 
  //-   div(class='genre-list')
  //-  div(id='api-div')