doctype html
html
  head
      block head
        title="BrainFood"
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/user.css')
        link(rel='stylesheet' href='/stylesheets/global.css')
        link(rel='stylesheet' href='/stylesheets/bookshelves.css')
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/footer.css')
        //- script(src="/javascripts/index.js")
        script(src="/javascripts/search.js")
        script(src="/javascripts/navbar.js")
  body
    nav(class='navbar')
      div(class='main-div-container')
        div(class='nav-left overlay' )
          div(class='nav-buttons-div')
            a(id='navbar-brainfood' href='/')
              img(src="/images/Brain_Logo_large.png" id='navLogo' width='200')
            //- a(id='logo-sig' href='/') BrainFood
          div(class='nav-buttons-div')
            a(class='nav-link' id='navbar-home' href="/") Home
          if lowestShelf
            div(class='nav-buttons-div')
              a(class='nav-link' id='navbar-mybooks' href=`/bookshelves/${lowestShelf.id}`) My Books
          else
            div(class='nav-buttons-div')
              a(class='nav-link' id='navbar-mybooks' href=`/bookshelves/1`) My Books
          a(class='add-book-btn') Add Book
              div(class="hidden" id="add-book-modal")
                div(id='add-book-div' class="form-container modal-content")
                  h1(class="form-header") Add Book
                    form(action="/bookshelves/add-book" method='post' class="user-form")
                      div(class='add-book-form-group')
                        label(for='cover' class='user-label') Cover (Image URL)
                          input(type='text' id='add-cover' name='cover' placeholder=null class='form-control user-input')
                      div(class='add-book-form-group')
                        label(for='title' class='user-label') Title
                          input(type='text' id='add-title' name='title' placeholder=null class='form-control user-input')
                      div(class='add-book-form-group')
                        label(for='author' class='user-label') Author
                          input(type='text' id='add-author' name='author' placeholder=null class='form-control user-input')
                      div(class='add-book-form-group')
                        label(for='published' class='user-label') Published
                          input(type='text' id='add-published' name='published' placeholder=null class='form-control user-input')
                      div(class='submit-div')
                        button(type='submit' class="user-form" class='btn submit') Add
                        a(href='/bookshelves/add-book' class='a clear') Clear
        div(id='nav-middle' )
          div
            input(type="search" name="term" id='navbar-search' placeholder="Search Books  by  title  or  tag" required)
            i.fas.fa-search
          ul(id="searchResults" style={'visibility':"hidden"})
        if user
            div(id='outer-right-container')
              div(id='logged-in-display')
                a(href=`/users/profile/${user.id}` id='for-profile')
                  if !user.image
                    img(src='/profile-icon.png' id='default-profile-pic')
                  else
                    img(src= user.image class='nav-link' id="navbar-profile-btn")
                span(id='navbar-welcome-text') Welcome #{user.username}!
                form(action='/users/logout' method='post')
                  div(class='nav-buttons-div')
                    button(id='nav-logout' type='submit') Logout
        else
          div(id='nav-right' class='navbar-profile')
            div(class='nav-buttons-div')
              a(href="/users/login" id='navbar-login') Login
            div(class='nav-buttons-div')
              a(href="/users/signup" id='navbar-signup') Sign Up
    block content
    include footer.pug