extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/profile.css')
  link(rel='stylesheet' href='/stylesheets/global.css')
  link(rel='stylesheet' href='/stylesheets/footer.css')
  script(src='/javascripts/profile.js' type='module')

block content
  div(class="hidden" id="modal")
        div(class="form-container modal-content")
            h1(class="form-header") Edit User Details
            form(action=`/users/profile/${user.id}` method="post" class="user-form" id='user-form')
                +field("Username", "Username", user.username)
                +field("Email", "Email", user.email)
                +field("Profile Picture", "Profile Picture", user.image)
                div(class='submit-div')
                    button(type='submit' id='edit-btn' class='btn submit edit-user-btn') Submit
                    a(href=`/users/profile/${user.id}` class='a clear') Clear
  //- div(class='background-image main-container')
  div(class='background-image')
  div(class='main-container')
        div(class='innerLeft-main')
          div(class='profile-img-container')
            img(src= user.image id='profile-img')
          div(class='edit-btn-container')
            button(class='page-edit-btn' id='modal-button') Edit
            button(class='page-delete-btn' id='delete-btn') Delete
        div(class='innerRight-main')
          div(class='details-container')
            div(class='userName')
              div(id='user-name') User Name:
              div(id='username-value') #{user.username}
            div(class='email-block')
              div(id='email') Email:
              div(id='email-value') #{user.email}
          div(class='favorite-books-container')
            div(id='fav-book-word') Your Favorite Books
            div(class='favorite-books-covers')
                each review in reviews
                  a(href=`/books/${review.Book.id}`): img(src= review.Book.cover class='books')
                  //- img(src= review.Book.cover class='books')
                  //- a(href=`/books/${review.book})
  div(id="foot")
