extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/profile.css')
  link(rel='stylesheet' href='/stylesheets/global.css')
  script(src='/javascripts/profile.js' type='module')

block content
  div(class="hidden" id="modal")
        div(class="form-container modal-content")
            h1(class="form-header") Edit User Details
            form(action=`/users/profile/${user.id}` method="post" class="user-form" id='user-form')
                +field("Username", "Username", user.username)
                +field("Email", "Email", user.email)
                +field("Profile Picture", "Profile Picture", user.image)
                div(class='submit-div')
                    button(type='submit' id='edit-btn' class='btn submit edit-user-btn') Submit
                    a(href=`/users/profile/${user.id}` class='a clear') Clear
  div(class='body-container')
        div(id='left-div')
        div(id='middle-div')
          div(class='person-image-container')
            img(src= user.image class='profile-img')
          div(class='user-name-container')
            //- div(id='user-name')= user.username
          div(id='person-details-container')
            //- div(id='person-details') Details
          div(id='person-details-container1')
            //- div(id='email') Email: #{user.email}
          div(id='edit-btn-container')
            button(class='page-edit-btn' id='modal-button') Edit
            button(class='page-delete-btn' id='delete-btn') Delete
          div(id='person-details-container2')
            //- div(id='booksRead') Books Read:
        div(id='space-div')
        div(id='right-div')
            div(id='fav-book-container')
            div(id='user-name') User Name:     #{user.username}
            div(id='email') Email:        #{user.email}
              div(id='favorite-books') Your Favorite Books
                div(class='favorite-books-top')
                  each review in reviews
                    img(src= review.Book.cover class='books')



















  //- div(class='body-container')
  //-       div(id='left-div')
  //-       div(id='middle-div')
  //-         div(class='person-image-container')
  //-           img(src= user.image class='profile-img')
  //-         div(class='user-name-container')
  //-           div(id='user-name')= user.username
  //-         div(id='person-details-container')
  //-           div(id='person-details') Details
  //-         div(id='person-details-container1')
  //-           div(id='email') Email: #{user.email}
  //-         div(id='edit-btn-container')
  //-           button(class='page-edit-btn' id='modal-button') Edit
  //-         div(id='person-details-container2')
  //-           div(id='booksRead') Books Read:
  //-       div(id='space-div')
  //-       div(id='right-div')
  //-         div(id='fav-book-container')
  //-           div(id='favorite-books') Favorite Books
  //-             div(class='favorite-books-top')
  //-               each review in reviews
  //-                 img(src= review.Book.cover class='books')
  //-         //-   div(id='favorite-books-top1')= book.cover
  //-         //-   div(id='favorite-books-top2')
  //-         //-   div(id='favorite-books-top3')
  //-         //- div(class='favorite-books-bottom')
  //-         //-   div(id='favorite-books-top4')
  //-         //-   div(id='favorite-books-top5')
  //-         //-   div(id='favorite-books-top6')
